body{
    background-color: #;
}
.logo{
    height: 50px;
}
.category{
    text-decoration: none;
    color: gray; 
}
.category:hover{
    color: blue;
}
.description{
    color: gray;
}
.graycolor{
    color: gray;
}
.card{
    border: none;
    box-shadow: 10px 10px 30px lightgrey;
}
.blog-news {
    background-color: #F6F6F6;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 10px;
}
.text-size-category{
    font-size: 15px;
}